<header>
    <h1>Songch</h1>
    <p>Tu lugar favorito para instrumentos y accesorios</p>
  </header>

 

  <main>
    <h2>Bienvenido a nuestra tienda</h2>
    <p>Encuentra los mejores instrumentos musicales, desde guitarras, baterías, hasta equipos de sonido y accesorios.</p>

    <div class="productos">
      <div class="producto">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXbpoOX7Oad6BTcySPfH2dDDNDBT_-ceYRtQ&s" alt="Guitarra" />
        <h3>Guitarra Acústica</h3>
        <p>$150.00</p>
      </div>

      <div class="producto">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVR5lGUBsqq8kf5KLG2P_L6YNj08MNum9JHg&s" alt="Batería" />
        <h3>Batería Completa</h3>
        <p>$650.00</p>
      </div>

      <div class="producto">
        <img src="https://http2.mlstatic.com/D_NQ_NP_751774-MLU78972022946_092024-O.webp" alt="Micrófono" />
        <h3>Micrófono Profesional</h3>
        <p>$120.00</p>
      </div>
    </div>
  </main>

  <footer>
    &copy; 2025 Tienda de Música. Todos los derechos reservados.
  </footer>
