<h2 class="titulo text-center">Galería de Productos</h2>

<div class="edad-check">
  <h2 class="titulo">¿Desea ver los productos?</h2>
  <button onclick="verificarEdad(true)">Sí</button>
  <button onclick="verificarEdad(false)">No</button>
</div>

<section class="productos-container">
  <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <div class="productos-card">
      <div class="overflow-x-auto">
        <table class="productos-table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Imagen</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            @for(productos of productos; track productos.id){
            <tr>
              <td>{{productos.nombre}}</td>
              <td>
                <img [src]="productos.imagenUrl" alt="{{productos.nombre}}" class="productos-img" />
              </td>
              <td class="descripcion">{{productos.descripcion}}</td>
              <td></td>
            </tr>}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

